@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic|Montserrat:400,700);

$bp-nav: 850px;

$color-primary: #E0AA52;
$color-primary-dark: #BD7501;
$color-secondary: #6388AD;
$color-secondary-dark: #205587;
$color-secondary-alpha: rgba($color-secondary, .4);
$color-success: #12C96D;
$color-alert: #FF5F47;

$color-white: #FCFCFC;
$color-lightgray: #707070;
$color-gray: #828282;
$color-darkgray: #141414;;
$color-black: #242424;

$padding: 1.4em;
$header-height: 3.6rem;


$bp-medium: 600px;
$bp-large: 1200px;

$margin: 2rem;
$header-height: 3rem;
$nav-width: 5rem;



*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  background: $color-secondary-alpha;
}

figure {
  margin-top: $padding;
}

img {
  max-width: 100%;
}


html, body {
  min-height: 100%;
}


/* Typography */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
  background: $color-white;
  color: $color-black;
  font-size: 1em;
  @media (min-width: $bp-nav) {
    font-size: 1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 1.5em 0 0;
}

h1, h2 {
  letter-spacing: -.05em;
  text-transform: uppercase;
}

p, ul, ol, blockquote {
  line-height: 1.5;
  margin-top: 1.4em;
  a:hover, a:target {
    text-decoration: underline;
  }
}

.sub-title {
  font-style: italic;
  margin-top: 0;
}

a, a:visited {
  color: $color-secondary-dark;
  text-decoration: none;
}

ul, ol {
  padding-left: 1.8em;
}

blockquote {
  border-left: .6em solid $color-primary;
  font-style: italic;
  margin-left: .5em;
  padding-left: .7em;
  em {
    font-style: normal;
  }
}


/* Buttons */
a.button,
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: $color-white;
  border: 1px solid $color-gray;
  color: $color-black;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none !important;
  transition: background .1s ease-in-out,
              border .1s ease-in-out;
  white-space: nowrap; 
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background: $color-secondary;
  outline: 0; 
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: $color-primary;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: $color-secondary;
}

/* Tables */
th,
td {
  border-bottom: 1px solid $color-gray; 
  font-size: .8em;
  padding: .6em .8em;
  text-align: left;
  
}

th:first-child,
td:first-child {
  padding-left: 0; 
}

th:last-child,
td:last-child {
  padding-right: 0; 
}

.malt-list {
  width: 100%;
  
  th:nth-of-type(1),
  th:nth-of-type(3) {
    width: 10%;
  }
  
  th:nth-of-type(2) {
    width: 80%;
  }
  
  th:nth-of-type(3),
  td:nth-of-type(3) {
    text-align: right;
  }
  
}

.malt-table,
.hop-table {
  width: 100%;
  
  th:nth-of-type(1) {
    width: 10%;
  }
  
  th:nth-of-type(2) {
    width: 70%;
  }
  
  th:nth-of-type(3) {
    width: 20%;
  }
  
  th:nth-of-type(3),
  td:nth-of-type(3) {
    text-align: right;
  }
  
}


td button {
  margin: 0;
  padding: .3em .6em;
}

/* Grid */

.stats {
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  display: flex;
  margin-top: $padding;
}

.stat {
  flex-grow: 1;
  padding: .6em;
  text-align: center;

  h3, p {
    margin: 0;
  }
  
}


input {
  font-size: .8em;
  padding: .6em .8em;
}

.add-malt-form,
.add-hop-form {
  display: flex;
  flex-wrap: wrap;
  margin: .8em 0;
  
  input {
    border: 1px solid black;
    margin: 0;
    width: 33.33333%;
  }
  
  button {
    border-top: 0;
    width: 100%;
  }
  
}

.add-malt-form > div,
.add-hop-form > div {
  border-bottom: 0;
  width: 100%;
  input {
    width: 100%;
  }
}

.recipe-header {
  display: flex;
}

.recipe-title {
  h1 {
    margin-top: .7em;
  }
}

.beer-glass {
  align-items: center;
  background: $color-secondary-dark;
  border-radius: 50%;
  display: flex;
  height: 6em;
  justify-content: center;
  margin: 0 .8em 0 0;
  width: 6em;
}

.beer-glass svg {
  width: auto;  
  height: 80%;
}



/* Site Header */

.site-header {
  align-items: center;
  background: $color-darkgray;
  display: flex;
  height: $header-height;
  padding: .8em 1.2em;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}

.app-logo {
  margin-right: auto;
}

.beer-log-logo {
  display: block;
  height: auto;
  width: 120px;
}


/* Navigation */

.site-navigation {
  background: $color-darkgray;
  min-height: 4em;
  padding: .4em;
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  
  @media (min-width: $bp-medium) {
    background: $color-secondary-dark;
    top: $header-height;
    right: auto;
    width: $nav-width;
  }
  
}

.site-navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $bp-medium) {
    flex-wrap: wrap;
  }
  
}

.site-navigation li {
  padding: .1em 0;
  position: relative;
  text-align: center;
  width: 25%;

  @media (min-width: $bp-medium) {
    margin-bottom: .5em;
    width: 100%;

  }
}

.site-navigation a {
  color: white;
  margin: .3em;
  display: block;
  font-size: .7em;
  transition: opacity .1s ease-in-out;
}

.site-navigation a:hover {
  opacity: .6;
  text-decoration: none;  
}

.site-navigation a:active {
  opacity: .3;
  text-decoration: none;  
}

/* Content */

.site-main {
  margin-top: $header-height + $margin;
  margin-left: auto;
  margin-bottom: $header-height * 2;
  margin-right: auto;
  max-width: 94%;
  
  @media (min-width: $bp-medium) {
    margin-left: $nav-width + $margin;
    max-width: 40em;
  }
}

/* Malt form */

.edit-malt-group,
.add-malt-group {
  margin-bottom: 1em;
}

.form-header {
  font-weight: bold;
}

.form-header > * {
  margin-bottom: .2em;
  padding: .2em;
}

.form-row {
  display: flex;
  font-size: .8em;
  width: 100%;
}

.form-row input,
.form-row button {
  border: 1px solid $color-gray;
  border-right: 0;
  border-bottom: 0;
  font-size: 1em;
  padding: .6em .4em;
}

.form-row:last-child {
  input, button {
    border-bottom: 1px solid $color-gray;
  }
}

.form-row > input:last-of-type,
.form-row > button:last-of-type {
  border-right: 1px solid $color-gray;
}

.form-row > *:nth-child(1) {
  width: 15%;
}

.form-row > *:nth-child(2) {
  width: 50%;

  input {
    height: 100%;
    width: 100%;
  }
}

.form-row > *:nth-child(3),
.form-row > *:nth-child(4) {
  width: 15%;
}

.form-row > *:nth-child(5) {
  width: 5%;
}
